#scoreText{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
}

#resetBtn{
    border: 3px solid black;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    cursor: pointer;
}